body {
	font-family: 'Open Sans', sans-serif;
	font-size:100%;
	background: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-weight: 300;
}

a {
	color: black;
	text-decoration: none;
}
.round:hover {
	background-color: rgba(255, 255, 255, 0.8);
}

.round {
	-webkit-box-shadow: 0 4px 9px rgba(5, 5, 5, 0.56);
	-moz-box-shadow: 0 4px 9px rgba(5, 5, 5, 0.56);
	-o-box-shadow: 0 4px 9px rgba(5, 5, 5, 0.56);
	box-shadow: 0 4px 9px rgba(5, 5, 5, 0.56);
	-webkit-border-radius: 146px;
	-moz-border-radius: 146px;
	-o-border-radius: 146px;
	border-radius: 146px;
	background-color: rgba(200, 200, 200, 0.3);
	margin: 7% auto;
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-o-transition:background-color 1s;
	transition: background-color 1s;
	width: 200px;
	height: 200px;
}

.square {
	-webkit-box-shadow: 0 4px 9px rgba(5, 5, 5, 0.56);
	-moz-box-shadow: 0 4px 9px rgba(5, 5, 5, 0.56);
	-o-box-shadow: 0 4px 9px rgba(5, 5, 5, 0.56);
	box-shadow: 0 4px 9px rgba(5, 5, 5, 0.56);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	background-color: rgba(200, 200, 200, 0.3);
}

.container {
	-webkit-box-shadow: 0 4px 9px rgba(5, 5, 5, 0.56);
	-moz-box-shadow: 0 4px 9px rgba(5, 5, 5, 0.56);
	-o-box-shadow: 0 4px 9px rgba(5, 5, 5, 0.56);
	box-shadow: 0 4px 9px rgba(5, 5, 5, 0.56);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	background-color: rgba(200, 200, 200, 0.3);
	width: 80%;
	margin-right: 5%;
	margin-top: 5%;
	float: right;
}

.container p {
	font-size: 1.3em;
	font-family: 'Chelsea Market', sans-serif;
	padding-right: 15px;
	padding-left: 15px;
}

ul.select_lang {
	width: 10%;
	float: left;
	margin-left: 5%;
	padding: 0;
	list-style-type: none;
}

ul.select_lang li {
	float: left;
	width: 100%;
}

ul.select_lang li a {
	display: block;
	-webkit-box-shadow: 0 4px 9px rgba(5, 5, 5, 0.56);
	-moz-box-shadow: 0 4px 9px rgba(5, 5, 5, 0.56);
	-o-box-shadow: 0 4px 9px rgba(5, 5, 5, 0.56);
	box-shadow: 0 4px 9px rgba(5, 5, 5, 0.56);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	width: 70px;
	height: 45px;
	margin-bottom: 15px;
}

ul.select_lang li a.PL {
	background: url(../images/PL.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

ul.select_lang li a.EN {
	background: url(../images/EN.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

ul.select_lang li a.DE {
	background: url(../images/DE.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

ul.select_lang li a.BR {
	background: url(../images/BR.gif);
	background-size: 100%;
	background-repeat: no-repeat;
}

ul.select_lang li a.PT {
	background: url(../images/PT.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

ul.select_lang li a.back {
	background: url(../images/back.png);
	background-color: rgba(200, 200, 200, 0.3);
	background-repeat: no-repeat;
	width: 130px;
	height: 120px;
	margin-left: -20%;
	margin-top: 10%;
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
	-o-border-radius: 70px;
	border-radius: 70px;
}

p {
	font-family: 'Montez';
	text-align: center;
	position: relative;
}

form {
	text-align: center;
}

form input {
	width: 390px;
	height: 30px;
	border: 1px solid #999999;
	padding: 5px;
	font-size: 1em;
	-webkit-box-shadow: 0 4px 9px rgba(5, 5, 5, 0.56);
	-moz-box-shadow: 0 4px 9px rgba(5, 5, 5, 0.56);
	-o-box-shadow: 0 4px 9px rgba(5, 5, 5, 0.56);
	box-shadow: 0 4px 9px rgba(5, 5, 5, 0.56);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

p.bigger {
	font-size: 200%;
}

.round p {
	padding-top: 35%;
	font-weight: bold;
	font-size: 2.8em;
}

.square p {
	padding-top: 5px;
	margin: 0;
	font-size: 1.8em;
}

#joanna {
	background: url(../images/joanna.jpg);
	background-position: 55% 25%;
	background-size: 100%;
	background-repeat: no-repeat;
	width: 280px;
	height: 280px;
}

#contact {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
}
